ul li{
    list-style: none;
}
.items-list li a{
    text-decoration: none;
}
.navs li a{
    
    text-decoration: none;
    color: #db5642;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FF5438;
    padding: 20px 0;
    width: 100%;
    background-image: url("assets/mobile-home-bg.png");
    background-size: cover;
}
.about-one p{
    color: #FF5438;
    font-style: normal;
    margin: 3%;
    padding: 10px 0;
}
.about-one h1{
    font-weight: 600;
    margin: 3%;
}
.speech{
    width: 100%;
    background-color: #fff;
    margin: 4% 0;
}
.speech p{
    
    display: flex;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: #333;
    margin: 3%;
    
    
}
.about-two{

    display: flex;
    flex-direction: column;
    align-items:center ;
    text-align: center;
    margin: 5% 0;
}
.about-two p{
 margin: 1% 10%;
 color: #333;
}
.about-two h4{
    margin: 1% 10%;
    font-weight: 600;
    color: #333;


}
.about-three{
    display: flex;
    flex-direction: column;
    align-items:center ;
    text-align: center;
    margin: 5% 10%;  
}
.create{
    margin: 3%;
    color: #333;
}

.about-three h3{
    margin: 3%;
    font-weight: 600;
    font-size: 24px;
}

.about-three p{
    margin: 3%;
    color: #333;
}
.logo-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: #dfdcdc solid 2px;
margin: 3%;
width: 80%;
}
.logo-section img{
    padding: 4%;
    margin: 3%;
    width: 30%;
}
.logo-section p{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.summit{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.summit h3{
    font-size: 34px;
    font-weight: 600;
    margin: 3%;
}

.summit img{
    padding: 3%;
}
.summit p{
    font-size: 16px;
    margin: 3%;
}
.images-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    width: 95%;
    padding: 2%;
    
}

.first-image{
    position: relative;
    background-image: url("assets/pixels\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4%;
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
 .first-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(11deg 100% 52.2% / 62%);
 }
.second-image{
    position: relative;
    background-image: url("assets/pixels\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4%;
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(11deg 100% 52.2% / 62%);  
}
.first-image h1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: auto;
   z-index: 1;
    font-size: 54px;
}
.first-image p{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    margin: auto;
    z-index: 1;
}
.second-image h1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: auto;
   z-index: 1;
    font-size: 54px; 
}
.second-image p{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    margin: auto;
    z-index: 1;
}
.partners{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: center;
    background-color: #414246;
    ;
}
.partners p{
    margin: 3%;
    color: #fff;
    font-size: 20px;
    border-bottom: #db5642 solid 2px;
    padding: 5%;
}
.brands{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3%;
    padding: 4%;
    justify-content: center;
    align-items: center;
}
.brands img{
    padding: 5%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    padding: 3%;
}

footer img{
    margin: 3%;
    width: 60%;

    
}
footer p{
    margin: 3%;

}

/* desk-top version */


@media screen and (min-width: 768px) {

.mobile{
    display: none;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    background-color: #333;
   
}
.items-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0.4% 5%;
   
}

.items-list li{
    margin: 0 2%;
    color: #fff;
    
}

.items-list li a{
    color: #fff;
}
.nav-two{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
   
}
.logos img{
    width: 30%;
    height: 50%;
    margin: 2%;
}
.navs {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    display: flex;
    margin: 2% 10%;
    align-items: center;
}
.navs li{
    margin: 0 2%;

}

.navs li a{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 2%;
    
}
.about-nav a{
    color: #db5642;
}
 .compaign a{
    color: #db5642;
    border: #db5642 solid 2px;
    display: flex;
    flex-wrap: nowrap;
    padding: 2%;
  



 }
 .showcase{
    background: url("assets/desktop-about-bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
    display: flex;
    justify-content: center;
  
    flex-direction: column;
    width: 100%;
   
 }
 .showcase-text {
    width: 80%;
    margin: 10%;
 }

 .quote-section{
  display: flex; 
  flex-direction: column; 
 }

 .quote-list{
    display: flex;
    flex-direction: row;
 }
 .quote-list li{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    width: 100%;
    padding: 1% 1.5%;
    
 }

 .quote-list li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    
 }
 .join{
    display: none;
 }

 .see-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f7f3f2;
    border-bottom: #f5efee solid 2px;
    width: 30%;
    margin: 3% auto;
 }
 .speaker-section h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: auto;

 }
 .see-speakers{
    display: none;
 }
 



.speaker-list{
    display: flex;
}

/* about section */

.about{
    
}

.about-one{
    background: url("assets/desktop-about-bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
  
    flex-direction: column;
    width: 100%;
}

.hello{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.speech{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    text-align: center;

    justify-content: center;

}
.about-two{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;

}
 
  }